*,
*::after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Spectral;
}

body {
    height: 100%;
    width: 100%;
}

nav {
    height: 100%;
    width: 100%;
    background-color: #EBF2FC;
}

html {
    background-color: #D0CBC7;
    height: 100%;
    width: 100%;
}

.rounded {
    border-radius: 10%;
}

.lightborder {
border: 3px solid #EBF2FC;
}

/* h1 {
    margin: 1rem 2rem;
} */

/* ############Main page start############################## */
/* ############Header/Navigation############################## */

#header {
position: fixed;
height: 15%;
min-width: 50px;
width: 100%;
}

.navblock {
    top: 0;
    float: left;
    height: 100%; 
    align-items: center;
    background: #3F526E;
}

.navblock p {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: normal;
    vertical-align: auto;
    text-align: center;
    color: #EBF2FC;
    position: relative;;
    top: 30%;
    bottom: 30%;
    overflow: hidden;
}

#navmain {
    width: 10%;
}

#navmember {
    width: 18%;
}

#naveco {
    width: 18%;
}

#navhold {
    width: 18%;
}

#navsched {
    width: 18%;
}

#navlogout {
    width: 18%;
}



/* ############quickmenu############################## */
#quickmenu {
    width: 10%;
    height: 75%;
    position: fixed;
    top: 15%;
    left: 0;
    background-color: #EBF2FC;
}


/* ############iframe############################## */
#iframe {
    width: 72%;
    height: 75%;
    position: fixed;
    left: 10%;
    top: 15%;
}

/* ############newsfeed############################## */

#newsfeed {
    width: 18%;
    height: 75%;
    position: fixed;
    right: 0;
    top: 15%;
    background-color: #EBF2FC;
}


#footer {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #3F526E;
}

/* ############Main page ends############################## */

/* ################forms############################## */
form {
    margin: 2rem;
    width: 800px;
    background: #D0CBC7;
    border: 5px solid #3F526E;
}

.form-box {
    padding: 1rem;
    clear: both;
    width: 100%;
    position: relative;
}

.form-box label {
    font-size: 1rem;
    float: left;
    width: 100px;
    margin-right: 20px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3F526E;
}

.form-box input {
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
    background: #EBF2FC;
    border: 1px solid #3F526E;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #3F526E;
}

.form-box select {
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
    background: #EBF2FC;
    border: 1px solid #3F526E;
    box-sizing: border-box;
    border-radius: 30px;

    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #3F526E;
}

.form-box option {
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}

.form-box input[type="checkbox"] {
    font-size: 1rem;
}

.form-box button {
    font-size: 1rem;
    border: none;
    padding: 0.25rem 2rem;
    margin-right: 1rem;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}

.error::after {
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position: absolute;
    right: 0;
    content: attr(data-errormsg);
}

#daySubfield {
    width: 101px;
    height: 44px;
    float: left;
}

#monthSubfield {
    width: 150px;
    float: left;
}

#yearSubfield {
    width: 101px;
    height: 44px;
    float: left;
}

/* ###############login############################## */


#login {
    margin: 0;
    position: absolute;
    height: fit-content;
    width: 25%;
    /* min-width: 320px;
    min-height: 240px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #DDAF7D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;    
    background-color: #3F526E;
}

/* #login p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    position: relative;
    color: #EBF2FC;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
} */

#inputwrapper {
    position: relative;
    padding-bottom: 10%;
    padding-top: 5%;
}

.inputfield {
    position: relative;
}


.inputfield  label{
    
    position: relative;
    top:50%;
    left: 10%;
    font-size: 1.7vw;
    width: 80%;
    padding: 0.25rem 1rem;
    position: relative;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #EBF2FC;
    display: block;
}

.inputfield input{
    position: relative;
    left: 10%;
    font-size: 1.7vw;
    width: 80%;
    padding: 0.25rem 1rem;
    background: #EBF2FC;
    border: 1px solid #3F526E;
    position: relative;
    box-sizing: border-box;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #3F526E;
    display: flex;
    justify-content: center;
}

#loginbutton {
    left: 20%;
    position: relative;
    font-size: 1.7vw;
    width: 60%;
    border-radius: 30px;
    cursor: pointer;    
}

.buttonwrapper {
    padding-top: 5%;
}